div{
    min-width: 100px;
    min-height: 100px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 1fr;
}

.red{
    background-color: red;
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 4;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.brown{
    background-color: brown;
}
.magenta{
    background-color: magenta;
}
.cyan{
    background-color: cyan;
}
.black{
    background-color: black;
}
.teal{
    background-color: teal;
}
